.o_field_colored_status[data-status="active"] {
  color: green;
  font-weight: bold;
}
.o_field_colored_status[data-status="paid"] {
  color: dodgerblue;
  font-weight: bold;
}
.o_field_colored_status[data-status="expired"] {
  color: orange;
  font-weight: bold;
}
.o_field_colored_status[data-status="inactive"] {
  color: crimson;
  font-weight: bold;
}

// Transaction status bar colors
.o_statusbar_status {
  button[data-value="draft"] {
    &.o_arrow_button_current {
      background-color: #adb5bd !important;
      color: white !important;
    }
  }
  button[data-value="pending"] {
    &.o_arrow_button_current {
      background-color: #fd7e14 !important;
      color: white !important;
    }
  }
  button[data-value="authorized"] {
    &.o_arrow_button_current {
      background-color: #0d6efd !important;
      color: white !important;
    }
  }
  button[data-value="done"] {
    &.o_arrow_button_current {
      background-color: #198754 !important;
      color: white !important;
    }
  }
  button[data-value="cancel"] {
    &.o_arrow_button_current {
      background-color: #dc3545 !important;
      color: white !important;
    }
  }
  button[data-value="error"] {
    &.o_arrow_button_current {
      background-color: #dc3545 !important;
      color: white !important;
    }
  }
}
